.profile-container {
    text-align: center;
    padding: 20px;
    margin: 10px;
  }
  
  .profile-info {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
  }


  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  button{
    width: 1opx;

  }

  
  .edit-profile {
    background: #007bff;
    color: white;
    padding: 1px;
    width: 10px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
  }
  
  .edit-profile:hover {
    background: #0056b3;
    width: 10px;
  }
  
  .meme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 10px;
  }
  
  .meme-grid img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  